html{
	overflow-y: scroll;
	overflow-x: scroll;
}

body{
	position: absolute;
}

.navbar{
	background-color: #2dd2b1;
}
nav li{
	padding: 15px;
	font-size: 18px;
}

.banner h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Love Ya Like A Sister', Arial, cursive;
}

.banner p{
	text-align: center;
	font-size: 20px;
	font-family: 'Love Ya Like A Sister', Arial, cursive;
}

#section1{
	margin-right: 5px; 
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 240px;
	width: 100%;
	background-color: #2dd2b1;
}

.footer h3{
	font-weight: bold;
	font-family: "Calibi Light", Arial;
}