html{
	overflow-y: scroll;
	overflow-x: scroll;
}

body{
	position: absolute;
}

nav li{
	padding: 15px;
	font-size: 18px;
}

.banner{
	text-align: center;
}

#section1{
	margin-right: 5px; 
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 240px;
	width: 100%;
	background-color: #999;
}